## For Printing Text, Strings always use " " inside the brackets

In [1]:
print("Hi, this is my first Python Code")

Hi, this is my first Python Code

## For Printing integers NO NEED TO USE " " inside the brackets

In [3]:
print(5)
print(17*15)

5
255

## Use of Escape Sequence

In [4]:
print("My name is Vedanti\n i am 20 yrs old\n i am currently pursuing B.Tech in Computer Science\nand Business System.")

My name is Vedanti
 i am 20 yrs old
 i am currently pursuing B.Tech in Computer Science
and Business System.

### print(object , sep=separator(Specify how to separate objects , if there are more than one), end=end (Specify what to print at the end),file=file(An Object with a write method),flush= flush)

In [6]:
print("Hello", 6 ,7 , sep="~", end="HELLO\n") 
print(90000)

Hello~6~7HELLO
90000